html,
body {
  height: 100%;
}
body {
  background: #f0edec;
  color: #2c363c;
  font: 300 16px/1.5 Open Sans, FreeSans, Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}
a {
  color: #2c363c;
}

.title {
  font-size: 2em;
  font-weight: 400;
}
.subtitle {
  font-style: italic;
}

.summary {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.summary h1 {
  font-size: 1.5em;
  width: 620px;
}
.summary time {
  font-size: 1.5em;
  font-weight: 400;
  order: -1;
  width: 150px;
  padding-right: 1em;
}
.summary .body {
  width: 100%;
  padding-left: 150px;
}

body > footer {
  position: sticky;
  top: 100vh;
  margin: 17px 0 13px;
  display: flex;
  align-items: baseline;
  /* background: #CFC1BA; */
}
body > footer > .copyright {
  flex-grow: 2;
}
body > footer > a + a {
  margin-left: 7px;
}

#tags {
  list-style: none;
  padding-left: 0;
}
#tags > li {
  display: inline-block;
}
#tags > li + li {
  margin-left: 0.3em;
}
