<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }}</title>
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  {{ if .Site.Params.with_goog_font }}
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300" rel="stylesheet" type="text/css">
  {{ end }}
  <link rel="stylesheet" href="{{ "css/sanitize.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  {{ with .OutputFormats.Get "RSS" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
  {{- end }}
</head>
<body>
  {{ partial "header" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer" . }}
</body>
</html>
