<article class="summary">
  <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "2006-01-02" }}</time>

  <div class="body">
    {{ .Summary }}
    {{ if .Truncated }}
      <a href="{{ .Permalink }}">Read more...</a>
    {{ end }}
  </div>
</article>
