<footer>
  <div class="copyright">&copy; {{ now.Year }} {{ if .Site.Params.Copyright }}{{ .Site.Params.Copyright }}{{ else }}{{ .Site.Title }}{{ end }}</div>
  {{- range .Site.Menus.footer }}
  <a href="{{ .URL }}">{{ .Name }}</a>
  {{- end }}
</footer>
