<header>
  <div class="title">
    # <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  </div>
  <div class="subtitle">{{ .Site.Params.subtitle }}</div>

  {{ with .Site.Menus.main }}
  <nav>
    <ul>
      {{ range . }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}
</header>
