<div>
{{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}">Previous Page</a>
{{ end }}
{{ if gt .Paginator.TotalPages 1}}
  {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
{{ end }}
{{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}">Next Page</a>
{{ end }}
</div>
